@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu|Podkova|Krona+One);

.fntz
{
    font-family: 'Droid Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Podkova', serif;
    font-family: 'Krona One', sans-serif;
}
/*----------------Head-----------------------*/
body
{
    background-color: #AAAAAA;
}
.center
{
    margin-left: 25%;
    margin-right: 25%;
}
.page
{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #DDDDDD;
    box-shadow: 10px 10px 10px #888888;
    border-radius: 15px;
}
.head
{
    background-color: #156985;
    height: auto;
    width: auto;
    overflow: auto;
    border-radius: 5px;
}
.title
{
    color: #DCDCDC;
    float: left;
    width: auto;
    height:auto;
    clear: both;
}
.authstate
{
    width: auto;
    float: right;
    text-align: right;
    padding: 10px;
}
.nav
{
    height:auto;
    clear:both;
}
.cont
{
    clear: both;
    width: 100%;
}

/*--------------------Dropdown----------------------*/

#ddown, #ddown ul 
{
	padding: 0;
	margin: 0;
	list-style: none;
}
#ddown a 
{
	display: block;
	list-style: none;
	text-decoration: none;
	color: green;
	width: 5em;
	text-shadow: 1px 1px 1px #DDDDDD;
	text-align: center;
}
#ddown a:hover
{
	font-weight: bold;
	background-color: #25B1DD;
	border-radius: 10px;
}
#ddown li 
{
	border-style: solid;
	border-width: 1px;
	background-color: Lime;
	float: left;
	width: 5em;
	border-radius: 5px;
}
#ddown li ul
{
	position: absolute;
	width: 5em;
	left: -999em;
}
#ddown li:hover ul
{
	left: auto;
}
/*---------------Content----------------*/

.category
{
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
}
.itembox
{
    background-color: #CCCCCC;
}
.img
{
    border-radius: 5px;
}
.itemtext
{
    margin-left: 35%;
    margin-right: 25%;
    width:auto;
}