@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu|Podkova|Krona+One);

.fntz
{
    font-family: 'Droid Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Podkova', serif;
    font-family: 'Krona One', sans-serif;
}
.page
{
    margin-left: 15%;
    margin-right: 15%;
}
.head
{
    background-color: #136821;
    overflow: auto;
}
.title
{
    float:left;
    width: auto;
    font-family: 'Podkova', serif;
    padding: 10px;
}
.authstate
{
    text-align: right;
    padding: 10px;
}
.center
{
    margin-left: 25%;
    margin-right: 25%;
}